node_modules
# Keep environment variables out of version control
.env
.db
.sqlite
prisma/dev.db
/prisma/*.db
/prisma/**/*.db

# Ignore uploaded files
/uploads/
uploads/
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.mov
*.avi